[Desktop Entry]
Name=appmenu
Name[ast]=appmenu
Name[bg]=appmenu
Name[bs]=appmenu
Name[ca]=appmenu
Name[ca@valencia]=appmenu
Name[cs]=appmenu
Name[da]=appmenu
Name[de]=appmenu
Name[el]=appmenu
Name[en_GB]=appmenu
Name[eo]=appmenu
Name[es]=appmenu
Name[et]=appmenu
Name[fi]=appmenu
Name[fr]=appmenu
Name[ga]=appmenu
Name[gl]=appmenu
Name[hu]=appmenu
Name[it]=appmenu
Name[ja]=appmenu
Name[kk]=appmenu
Name[km]=appmenu
Name[ko]=appmenu
Name[lv]=appmenu
Name[nb]=appmenu
Name[nds]=appmenu
Name[nl]=appmenu
Name[nn]=appmenu
Name[pa]=appmenu
Name[pl]=appmenu
Name[pt]=appmenu
Name[pt_BR]=appmenu
Name[ro]=appmenu
Name[ru]=appmenu
Name[sq]=appmenu
Name[sr]=appmenu
Name[sr@ijekavian]=appmenu
Name[sr@ijekavianlatin]=appmenu
Name[sr@latin]=appmenu
Name[sv]=appmenu
Name[tr]=appmenu
Name[ug]=appmenu
Name[uk]=appmenu
Name[x-test]=xxappmenuxx
Name[zh_CN]=appmenu
Name[zh_TW]=appmenu
Comment=appmenu runner
Comment[ast]=Llanzador pa appmenu
Comment[bs]=appmenu izvršilac
Comment[ca]=Llançador de appmenu
Comment[ca@valencia]=Llançador de appmenu
Comment[cs]=appmenu runner
Comment[da]=appmenu-runner
Comment[el]=εκτελεστής appmenu
Comment[en_GB]=appmenu runner
Comment[es]=Lanzador para appmenu
Comment[et]=appmenu käivitaja
Comment[fi]=appmenu-suoritusohjelma
Comment[fr]=Lanceur appmenu
Comment[ga]=Feidhmitheoir appmenu
Comment[gl]=Executor appmenu
Comment[hu]=appmenu-futtató
Comment[it]=Esecutore di appmenu
Comment[ja]=appmenu runner
Comment[kk]=appmenu жеккіші
Comment[km]=កម្មវិធី​រត់ appmenu​
Comment[ko]=appmenu 실행기
Comment[lv]=appmenu darbinātājs
Comment[nb]=appmenu-kjører
Comment[nds]=appmenu-Dreger
Comment[nl]=appmenu-starter
Comment[nn]=appmenu-køyrar
Comment[pa]=appmenu ਰਨਰ
Comment[pl]=Uruchamianie appmenu
Comment[pt]=Execução do appmenu
Comment[pt_BR]=Execução do appmenu
Comment[ro]=Lansator appmenu
Comment[ru]=Способ запуска appmenu
Comment[sq]=appmenu runner
Comment[sr]=appmenu извођач
Comment[sr@ijekavian]=appmenu извођач
Comment[sr@ijekavianlatin]=appmenu izvođač
Comment[sr@latin]=appmenu izvođač
Comment[sv]=Körning av appmenu
Comment[tr]=appmenu çalıştırıcı
Comment[uk]=Засіб запуску appmenu
Comment[x-test]=xxappmenu runnerxx
Comment[zh_CN]=appmenu 启动器
Comment[zh_TW]=appmenu 執行器
Icon=

X-KDE-ServiceTypes=Plasma/Runner
Type=Service
X-KDE-Library=krunner_appmenu
X-KDE-PluginInfo-Author=%{AUTHOR}
X-KDE-PluginInfo-Email=%{EMAIL}
X-KDE-PluginInfo-Name=appmenu
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
