[Desktop Entry]
Name=Application Menu
Name[de]=Anwendungsmenü
Name[es]=Menú de la aplicación
Name[mr]=अनुप्रयोग मेन्यू
Name[nl]=Menu van toepassing
Name[pt]=Menu da Aplicação
Name[pt_BR]=Menu de aplicativos
Name[sv]=Programmeny
Name[tr]=Uygulama Menüsü
Name[uk]=Меню програм
Name[x-test]=xxApplication Menuxx
Comment=Let you find and launch actions from the active application
Comment[cs]=Umožní vám najít a spustit činnosti z aktivní aplikace
Comment[es]=Le permite buscar y ejecutar acciones de la aplicación activa
Comment[fr]=Permet de trouver et lancer des actions à partir de l'application active
Comment[mr]=सक्रिय अनुप्रयोगातून तुम्हाला क्रीया शोधणे व प्रक्षेपण करण्याकरिता मदत करतो
Comment[nl]=Stelt u in staat acties van de actieve toepassing te vinden en te starten
Comment[pt]=Permite-lhe descobrir e invocar acções da aplicação activa
Comment[pt_BR]=Permite-lhe encontrar e executar ações a partir do aplicativo ativo
Comment[sk]=Umožní vám nájsť a spustiť položky z aktívnej aplikácie
Comment[sv]=Låter dig hitta och starta åtgärder från det aktiva programmet
Comment[tr]=Etkin uygulamadan eylemleri arayıp çalıştırmanızı sağlar
Comment[uk]=Надає вам змогу знаходити і виконувати дії, пов’язані з пунктами меню поточної програми
Comment[x-test]=xxLet you find and launch actions from the active applicationxx
Icon=show-menu

X-KDE-ServiceTypes=Plasma/Runner
Type=Service
X-KDE-Library=krunner_appmenu
X-KDE-PluginInfo-Author=Àlex Fiestas
X-KDE-PluginInfo-Email=afiestas@kde.org
X-KDE-PluginInfo-Name=appmenu
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-SingleRunnerQueryMode=true
