[Desktop Entry]
Name=Application Menu
Name[bs]=Aplikacijski meni
Name[de]=Anwendungsmenü
Name[es]=Menú de la aplicación
Name[fi]=Sovelluksen valikko
Name[fr]=Menu des applications
Name[gl]=Menú de programas
Name[hu]=Alkalmazásmenü
Name[mr]=अनुप्रयोग मेन्यू
Name[nl]=Menu van toepassing
Name[pl]=Menu programów
Name[pt]=Menu da Aplicação
Name[pt_BR]=Menu de aplicativos
Name[sk]=Aplikačné menu
Name[sv]=Programmeny
Name[tr]=Uygulama Menüsü
Name[ug]=قوللانچى تىزىملىكى
Name[uk]=Меню програм
Name[x-test]=xxApplication Menuxx
Comment=Let you find and launch actions from the active application
Comment[bs]=Pokrećite akcije iz aktivnog programa
Comment[cs]=Umožní vám najít a spustit činnosti z aktivní aplikace
Comment[de]=Findet und startet Aktionen der aktiven Anwendung
Comment[es]=Le permite buscar y ejecutar acciones de la aplicación activa
Comment[fi]=Mahdollistaa aktiivisen sovelluksen toimintojen etsimisen ja käynnistämisen
Comment[fr]=Vous permet de trouver et de lancer des actions à partir de l'application active
Comment[gl]=Permítelle atopar e iniciar accións do programa activo.
Comment[hu]=Lehetővé teszi műveletek keresését és indítását az aktív alkalmazásból
Comment[mr]=सक्रिय अनुप्रयोगातून तुम्हाला क्रीया शोधणे व प्रक्षेपण करण्याकरिता मदत करतो
Comment[nl]=Stelt u in staat acties van de actieve toepassing te vinden en te starten
Comment[pl]=Pozwala na znajdywanie i uruchamianie działań z aktywnej aplikacji
Comment[pt]=Permite-lhe descobrir e invocar acções da aplicação activa
Comment[pt_BR]=Permite-lhe encontrar e executar ações a partir do aplicativo ativo
Comment[sk]=Umožní vám nájsť a spustiť položky z aktívnej aplikácie
Comment[sv]=Låter dig hitta och starta åtgärder från det aktiva programmet
Comment[tr]=Etkin uygulamadan eylemleri arayıp çalıştırmanızı sağlar
Comment[uk]=Надає вам змогу знаходити і виконувати дії, пов’язані з пунктами меню поточної програми
Comment[x-test]=xxLet you find and launch actions from the active applicationxx
Icon=show-menu

X-KDE-ServiceTypes=Plasma/Runner
Type=Service
X-KDE-Library=krunner_appmenu
X-KDE-PluginInfo-Author=Àlex Fiestas
X-KDE-PluginInfo-Email=afiestas@kde.org
X-KDE-PluginInfo-Name=appmenu
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-SingleRunnerQueryMode=true
