[Desktop Entry]
Name=AppMenu action launcher
Name[nl]=Actiestarter van AppMenu
Name[pt]=Lançamento de acções do menu
Name[pt_BR]=Lançador de ações do menu de aplicativos
Name[sk]=Spúšťač akcií AppMenu
Name[uk]=Засіб виконання дій з меню програм
Name[x-test]=xxAppMenu action launcherxx
Comment=Let you find and launch actions from the active application
Comment[nl]=Stelt u in staat acties van de actieve toepassing te vinden en te starten
Comment[pt]=Permite-lhe descobrir e invocar acções da aplicação activa
Comment[pt_BR]=Permite-lhe encontrar e executar ações a partir do aplicativo ativo
Comment[sk]=Umožní vám nájsť a spustiť položky z aktívnej aplikácie
Comment[uk]=Надає вам змогу знаходити і виконувати дії, пов’язані з пунктами меню поточної програми
Comment[x-test]=xxLet you find and launch actions from the active applicationxx
Icon=

X-KDE-ServiceTypes=Plasma/Runner
Type=Service
X-KDE-Library=krunner_appmenu
X-KDE-PluginInfo-Author=%{AUTHOR}
X-KDE-PluginInfo-Email=%{EMAIL}
X-KDE-PluginInfo-Name=appmenu
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
